# Clase 1. Curso Básico de Python

## Palabras reservadas de Python.

Las palabras reservadas (**keywords**) corresponden a los nombres de las declaraciones que el intérprete de Python incluye por defecto.

In [1]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

El intérprete utiliza otros elementos por defecto los cuales aún cuando son parte fundamentel del lenguaje y pero no son palabras reservadas, **no se recomienda utilizarlos como nombres**.

El módulo ```__buitlins__``` contiene al resto de estos elementos.

In [ ]:
dir(__builtins__)

### Sintaxis para la elaboración de nombres en Python 3.

* Python 3 acepta el uso de [*Unicode*](https://es.wikipedia.org/wiki/Unicode).
* Los nombres pueden empezar con un guión bajo ```_``` o un caracter alfabético.
* Después del primer caracter, se pueden utilizar caracteres alfabéticos, números y/o guiones bajos.
* No se permiten caracteres distintos a los alfabéticos o que pudieran confundirse con operadores como ```|```, ```~```, ```#```, ```-```, etc.
* Se pueden utilizar mayúsculas, pero cabe señalar que Python es sensible a mayúsculas.

## Expresiones.

Una expresión es una combinación de valores, operadores, funciones y métodos que da por resultado un valor en una sola línea.

**Ejemplos:**

In [ ]:
1 + 1

## Declaraciones (Statements).

Las declaraciones son unidades de código que el interprete de Python puede ejecutar. En realidad una declaración es un tipo de expresión.

In [2]:
y = 0
for x in range(25):
    y = y +  x 
print(y)

300

# Tipos de Datos

Python cuenta con una amplia biblioteca que incluye muy diversos tipos de datos, pero hay tipos básicos que no requieren del alguna biblioteca.

##  Particularidades los tipos de datos en Python.

### Tipos dinámicos.

Python es un lenguaje que no requiere que se defina el tipo de un objeto. El intérprete "infiere" el tipo de dato del que se trata.

### Fuertemente tipado.

Existen operaciones que no están permitidas entre tipos que no sean compatibles.

## Tipos de datos básicos de Python 3.

* **Numéricos:**
    * **Enteros** - Números discretos (1, 9, 136, 2019, 1984)
    * **Flotantes** - Números continuos (1.5, 3.1415, 2.0007) 
    * **Complejos** - Números de la forma a - bi
* **Cadenas:** Cadenas de Texto (‘Comida’, “ATG”, “Leucine”)
* **Booleanos:** Representación de valores lógicos
    * **False** - Valor Falso
    * **True** - Valor Verdadero
* **None:** Sin valor

## Números enteros (```int```).

Python identifica a los número enteros como un tipo de dato el cual puede ser expresado de la siguiente manera. 

* Decimal: ```24```, ```60```.
* Binario: ```0b010011```, ```0b1101```. 
* Hexadecimal: ```0x18```, ```0x3cf4```.
* Octal: ``0o30``, ```0o74```.

**Ejemplos**

In [ ]:
24 # Entero

In [4]:
0b10001011 # Binario para 139

139

In [3]:
0x5f2 # Hexadecimal de 1522

1522

In [5]:
0o237 # Octal de 159

159

## Números de punto flotante (``float``).

El tipo ``float`` corresponden al conjunto de los números reales.
 
**Ejemplos:**
 
* ```3.141595``` 
* ```12.``` 
* ```-45.3556```

#### Precisión de los números flotantes.

Hay que tomar en cuenta de que la precisión de los números dependen en gran medida de la capacidad del equipo de cómputo, por lo que en ocasiones una operación con números de tipo float no dará el resultado exacto, sino una aproximación.

**Ejemplo:**

In [6]:
2.0/3.0

0.6666666666666666

In [7]:
2/3

0.6666666666666666

In [8]:
2.0//3.0

0.0

## Números complejos (```complex```).
 
El tipo ```complex``` corresponden al conjunto de los números complejos.

La sintaxis estricta es la siguiente:

```
1.0+13j
0.12-13j
```
**Ejemplos:**

In [9]:
(2+5j)

(2+5j)

## Valores booleanos (```bool```).

El tipo ```bool``` es una especie de tipo numérico que es utilizado para evaluar expresiones lógicas y tiene dos valores: ```True``` y ```False```.

* Si la expresión lógica es cierta, el resultado es ```True```.
* Si la expresión lógica NO es cierta, el resultado es ```False```.
* *False* equivale numéricamente a ```0```. 
* Cualquier otro valor no vacío equivale a ```True``` y su valor por defecto es ```1```.

**Ejemplos:**

In [ ]:
True

In [ ]:
False

## ```NoneType```.

El tipo ```None``` representa un valor nulo. 

Una expresión que de por resultado ```None``` no es desplegado por el intérprete.

**Ejemplo:**

In [10]:
None

# Variables
## El operador de asignación ```=```.

Para asignar una variable, se utiliza el el operador de asignación ```=``` con la siguiente sintaxis:

```
<variable> = <valor>
```

In [11]:
saludo = 'Hola'
matriz = [["autobús", "diesel", True], ["automóvil", "gasolina", True]] 
numero = 23.45

In [13]:
numero
matriz

[['autobús', 'diesel', True], ['automóvil', 'gasolina', True]]

### Asignación de múltiples variables a igual número de objetos.

Es posible asignar a varios nombres un número igual de objetos usando un sólo operador de asignación mediante la siguiente sintaxis:

```
<variable 1>, <variable 2>, <variable 3>, ..., <variable n> = <valor 1>, <valor 2>, <valor 3>, ...,<valor n>```

In [ ]:
entero, flotante, complejo, booleano = 12, 4.5, (12.3 + 23j), True

# Operadores

Los operadores son signos o palabras reservadas que el intérprete de Python identifica dentro de sus sintaxis para realizar una acción (operación) específica.

### Operadores aritméticos.

|Operador|Descripción|
|:------:|:---------:|
|```+``` |Suma       |
|```-``` |Resta      |
|```-``` |Negativo   |
|```*``` |Multiplicación|
|```**```|Exponente  |
|```/``` |División   |
|```//```|División entera|
|```%``` |Residuo    |

### Reglas de precedencia en operaciones aritméticas.

Los operadores se apegan a la siguiente regla de precedencia siguiendo una secuencia de izquierda a derecha:

1. Paréntesis.
2. Exponente.
3. Multiplicación.
4. División.
5. Suma.
6. Sustracción.

In [ ]:
3 / 4

In [ ]:
2 ** 3

In [19]:
12 / 5 + 2 * 3 ** 2

20.4

In [21]:
(12 / 5) + 18

20.4

In [ ]:
(12 * 5) + (2 / (3 ** 2))

### Operadores de asignación.

Los operadores de asignación se utilizan para enlazar un valor con un nombre. 

|Operador|Descripción|Ejemplo|
|:------:|:---------:|:-----:|
|*=*    |Asignación simple|*x = y*|
|*+=*   |Suma             |*x += y* equivale a *x = x + y*|
|*-=*   |Resta 	          |*x -= y* equivale a *x = x - y*|
|_\*=_  |Multiplicación   |_x \*= y_ equivale a _x = x \* y_|
|_\*\*=_|Exponente        |_x \*\* = y_ equivale a _x = x \*\* y_|
|*/=* 	|División 	      |*x /= y* equivale a *x = x / y*|
|*//=* 	|División entera  |*x //= y* equivale a *x = x // y*|
|*%=* 	|Residuo de división|*x %= y* equivale a *x = x % y*|

In [22]:
x = 2
x += 3
x

5

In [23]:
y = 2
y **= 3
y

8

### Operadores de relación. 

Los operadores de relación evalúan si dos valores que cumplen con una condición específica. El resultado de esta evaluación es de tipo *bool*.

|Operador|Evalúa          |
|:------:|:---------------|
|*==*    |*a == b* ¿a igual a b?|
|*!=* 	 |*a != b* ¿a distinta de b?|
|*>*     |*a > b* ¿a mayor que b?|
|*<* 	 |*a < b* ¿a menor que b?|
|*>=*    |*a >= b* ¿a mayor o igual que b?|
|*<=*    |*a <= b* ¿a menor o igual que b?|

In [24]:
"hola" == 'Hola'

False

In [25]:
2 * 9 ** 0.5 == 6

True

### Operadores de especiales de identidad.

Los operadores *is* e *is not* evalúan si un identificador se refiere exactamente al mismo objeto o pertenece a un tipo.

|Operador 	|Evalúa|
|:---------:|:----:|
|*is*       |*a is b* Equivale a *id(a) == id(b)*|
|*is not*   |*a is not b* Equivale a *id(a) != id(b)*|

In [ ]:
a = 45
b = 45

In [ ]:
a is b
a is not b

In [26]:
a = 'Luis'
b = 'luis'

In [27]:
a is b

False

In [28]:
2 > 5 is 5 < 3

False

### Operadores de pertenencia.

Los operadores *in* y *not in* evalúan si un objeto se encuentra dentro de otro.

In [29]:
'a' in 'Hola'

True

In [30]:
'la' not in 'Hola'

False

### Álgebra booleana y tablas de la verdad.

Las siguientes tablas muestran los reaultados de los operadores lógicos *or* y *and* dependiendo de los valores booleanos que se utilicen.


|OR| True|False|
|:--:|:--:|:--:|
|**True**|True|True|
|**False**|True|False|

|XOR| True|False|
|:--:|:--:|:--:|
|**True**|False|False|
|**False**|False|True|

|AND| True|False|
|:--:|:--:|:--:|
|**True**|True|False|
|**False**|False|False|

### Operadores lógicos.

Estos operadores permiten la realización de las siguientes operaciones lógicas. Por lo general se realizan con objetos de tipo *bool*, pero Python también permite operaciones lógicas con otros tipos de datos. 

|Operador|Evalúa|
|:------:|:----:|
|*or*    |*a or b* ¿Se cumplen a o b?|
|*and* 	 |*a and b* ¿Se comple a y b?|
|*not*   |*not x* Contrario a x|

In [31]:
15 == 3 or False

False

In [32]:
15 > 3 and 15 <= 20

True

# Bloques y Comentarios.

## Indentación de bloques de código.

En Python la indentación forma parte de la sintaxis. 

La indentación **se utiliza para delimitar bloques de código dentro de un condicional, ciclo, función, etc.**, sin necesidad de utilizar caracteres delimitadores como ocurre en otros lenguajes de programación.

Por convención se utilizan **cuatro espacios** para indentar en vez de tabuladores.

## Comentarios.

Los comentarios son porciones de texto que aún cuando se encuentran dentro de un bloque de código, no son interpretados por Python y **sirven primordialmente para documentar al código**.

### Comentarios de una sola línea *#*.

Cualquier texto después del carácter "*#*" y hasta el final de la línea es considerado como un comentario.

Algunas especificaciones de ejecución de Python también se colocan como si fueran comentarios de este tipo.

``` python
#! /usr/bin/python
# -*- coding: utf-8 -*-
``` 

### Docstrings.

Python también permite incluir comentarios de varias líneas. Éstos deben de estar encerrados entre triples comillas (*"""*) o apóstrofes (*' ' '*). Este tipo de comentarios son conocidos como "docstrings" y son utilizados para generar documentación que se desplegaría mediante la función _help()_.

``` python
"""Este es un mensaje de varias líneas.
   Tiene el potencial de generar documentación útil  mediante la funcionalidad de introspección de Python."""
```

# Funciones

Las funciones son piezas de código delimitadas y a las que se les puede asignar un nombre con el que pueden ser invocadas.

## Definición de una función.

De forma general, las funciones en Python se definen de la siguiente manera:

```
def <nombre>(<parámetros>):
    <código>
```

Las funciones se invocan de la siguiente manera:

```
<nombre>(<argumentos>)
```

In [ ]:
def saludo():
    '''Saludo de bienvenida'''
    print('Hola, eres bienvenido')

In [ ]:
saludo()

In [ ]:
help(saludo)

## Parámetros y argumentos.

Es posible ingresar datos al ser invocadas a estos datos se les denomina argumentos y son ligados a nombres, los cuales se conocen como parámetros. 

El número de argumentos ingresados debe corresponder al número de parámetros que se definen.

In [33]:
def suma(primero, segundo):
    '''Despliega la suma de dos objetos'''
    print(int(primero) + int(segundo))

In [34]:
suma(12, 5)

17

In [35]:
suma('Hola, ', 'Mundo.')

ValueError: invalid literal for int() with base 10: 'Hola, '

In [36]:
suma(12,'3')

15

### Parámetros con argumentos por defecto.

Es posible asignar valores por defecto a cada parámetro definido en una función mediante el operado de asignación ( *=* ).

Si a todos los parámetros se les asigna un valor, entonces no es necesario ingresar argumentos al invocar la función, ya que dichos valores serán utilizados. Los argumentos que se ingresen se irán sustituyendo de izquierda a derecha.

In [ ]:
def suma(primero=1, segundo=3):
    '''Despliega la suma de dos objetos'''
    print(primero + segundo)

In [ ]:
suma()

In [ ]:
suma(2)

In [ ]:
suma(2, 5)

### Captura de varios argumentos (*args).

Es posible definir un parámetro que acepte un número indeterminado de argumentos y que éstos queden guardados dentro de un tipo _tuple_. Para esto, basta preceder al nombre del parámetro con un solo asterisco (*).

In [37]:
def media(*muestras):
    '''Calcula el promedio de la muestra correspondiente a todos los parámetros ingresados.'''
    promedio = sum(muestras)/len(muestras)
    print('El promedio de la muestra de %d elementos es %.3f.' %(len(muestras), promedio))

In [38]:
media(1, 3, 5, 8, 11, 24, 90, 29)

El promedio de la muestra de 8 elementos es 21.

In [ ]:
    def media(titulo, *muestras):
        '''Calcula el promedio de la muestra correspondiente a todos los parámetros ingresados con excepción
           del primero, el cual será utilizado como título.'''
        promedio = sum(muestras)/len(muestras)
        print(titulo)
        print('El promedio de la muestra de %d elementos es %.3f.' %(len(muestras), promedio))

In [ ]:
media('Conteo de abejas en campo.', 34, 45, 61, 23, 47, 41, 52)

### La expresión _return_.

La expresión _return_ se utiliza para regresar un valor específico a una variable. Pueden incluirse varias expresiones _return_ en una función, pero sólo se ejecutará la primera que se encuentre. La sintaxis es la siguiente:

```
return <valor>
```

In [44]:
def promedio(*muestras):
    return (len(muestras), sum(muestras) / len(muestras))

In [45]:
promedio(1, 3, 5, 8, 11, 24, 90, 29)
muestra, promedio = promedio(1, 3, 5, 8, 11, 24, 90, 29)

In [46]:
promedio

21.375

In [47]:
media = promedio(1, 3, 5, 8, 11, 24, 90, 29)
media

TypeError: 'float' object is not callable

In [42]:
print('El promedio de la muestra de %d elementos es %.3f.' %(media))

TypeError: %d format: a number is required, not function

# Colecciones.

Las colecciones permiten crear estructuras de datos.

Python 3 cuenta con los siguientes tipos de colecciones.

* ```str```.
* ```list```.
* ```tuple```.
* ```dict```.

## El tipo ``` str```.

Las cadenas de caracteres son colecciones ordenadas, indexables numéricamente e inmutables de caracteres. 

El tipo más común de cadenas de caracteres es ```str```, el cual se define encerrando el texto entre comillas   ```"``` o apóstrofes ```'```. 
 
Cualquiera de las siguientes sintaxis es válida:

```
"<texto>"
'<texto>'
```
**Ejemplos:**

In [48]:
'Hola Mundo'

'Hola Mundo'

In [49]:
"Vamos a Burger's King"

"Vamos a Burger's King"

In [50]:
'Kurt Friedrich Gödel'

'Kurt Friedrich Gödel'

In [51]:
''

''

### Operadores para objetos de tipo *str*.

|Operador|Descripción|
|:------:|:---------:|
|*+*     |Concatenación|
|_*_   |Repetición|

In [52]:
"hola " + "mundo"

'hola mundo'

In [53]:
'hola ' * 3

'hola hola hola '

### Métodos de ```str```

#### _lower()_ 
Convierte la cadena de caracteres en minúsculas.

#### _upper()_ 
Convierte la cadena de caracteres en mayúsculas.

#### _capitalize()_ 
Convierte al primer caracter del texto en mayúscula y el resto en minúsculas.

####  _title()_ 
Convierte al primer caracter de cada palabra en mayúsculas y los otros en minúsculas. 

####  _swapcase()_
Transforma los caracteres que están en minúsculas a mayúsculas y los que están en mayúsculas a minúsculas.

####  _center()_

Centra el texto en una cadena del tamaño que se ingresa como argumento. Si se añade un caracter como segundo argumento, se sustituyen los espacios en blanco por dicho caracter.

#### _join()_
Permite concatenar una secuencia de carateres agrupados en una estructura iterable, utilizando una string como separador.

#### _split()_
Este método busca de izquierda a derecha el patrón que se ingresa como parámetro, identifica a todas las coincidencias y regresa una lista con cada fragmento de texto delimitado por el patrón.

#### _find()_
Método que busca de izquierda a derecha un patrón que es ingresado como argumento y regresa el índice del primero que encuentra.

#### _replace()_
Método al que se le ingresan un patrón y un texto de sustitución.

#### _count()_
Cuenta el número de veces que aparece un patrón ingresado como argumento dentro del texto.

In [54]:
'Hola, amigos.'.lower()

'hola, amigos.'

In [55]:
'Hola, amigos.'.upper()

'HOLA, AMIGOS.'

In [56]:
'hola, amigos.'.capitalize()

'Hola, amigos.'

In [57]:
'hola, amigos.'.title()

'Hola, Amigos.'

In [58]:
'HolA, aMiGos.'.swapcase()

'hOLa, AmIgOS.'

In [59]:
'Hola, amigos.'.center(30)

'        Hola, amigos.         '

In [60]:
'        Hola, amigos.         '.strip()

'Hola, amigos.'

In [61]:
'Hola, amigos.'.center(30, 'x')

'xxxxxxxxHola, amigos.xxxxxxxxx'

In [62]:
'xxxxxxxxHola, amigos.xxxxxxxxx'.strip('x')

'Hola, amigos.'

In [63]:
", ".join(["Hugo", "Paco", "Luis"])

'Hugo, Paco, Luis'

In [64]:
" + ".join(("1", "2", "3", "4"))

'1 + 2 + 3 + 4'

In [65]:
"Hugo, Paco, Luis".split(", ")

['Hugo', 'Paco', 'Luis']

In [66]:
'Luis, Hugo, Paco, Luis'.find('Paco')

12

In [67]:
'Luis, Hugo, Paco, Luis'.replace('Luis', 'Juan Antonio')

'Juan Antonio, Hugo, Paco, Juan Antonio'

In [68]:
'ATCTACTTAGTAGCTA'.replace('T','U')

'AUCUACUUAGUAGCUA'

In [70]:
"Hola, amigos.". count("a")

2

## Funciones para convertir entre datos

### La función ```int()```.
 
Esta función transforma un tipo compatible que es ingresado como argumento a un objeto tipo ```int```.

* Es posible convertir tipo ```str``` que representen correctamente a un número entero.
* El tipo ```float``` es truncado en la parte entera. 
* ```True``` es convertido en ```1```.
* ```False``` es convertido en ```0```. 

### La función ```float()```. 
 
Transforma a un objeto de tipo compatible que se ingrese como argumento a uno de tipo ```float```.

* Puede convertir tipo ```str``` que contengan una representación correcta a un número real.
* Es compatible con los tipo ```int```.
* ```True``` es convertido en ```1.0```
* ```False``` es convertido en ```0.0```. 
* No es compatible con tipo ```complex```.


### La función ```complex()```.

Transforma a un tipo compatible a uno de tipo ```complex```.

* Convierte tipo ```str``` que representen correctamente a un número real.
* Transforma en un tipo ```complex``` a un par de números ya sean ```int``` o ```float```. 
* Si sólo se da un número ```int``` o ```float```, este será identificado como el componente real y el componente complejo será ```0j```.

### La función ```bool()```.

Transforma en booleano a un objeto. 

* El ```0``` equivale a ```False```.
* El valor```None``` equivale a ```False```.
* Una colección vacía equivale a ```False``
* Cualquier otra cosa distinta es ```True```.

### La función ```str()```.

Transforma a un tipo en una cadena de caracteres de tipo ```str````.

Prácticamente todos los tipos pueden ser transformados en una cadena de caracteres.

## El tipo ```list```.

Las listas son colecciones ordenadas de varios tipos, los cuales son indexables numéricamente y son mutables.

Se definen encerrando entre corchetes ```[``` ```]``` una sucesión de tipos separados por comas ```,```.
 
La sintaxis es la siguiente:
 
```
[<tipo 1>, <tipo 2>, ..., <tipo n>] 
```

**Ejemplos:**

In [71]:
[1, 2, "tres", True, None]

[1, 2, 'tres', True, None]

In [72]:
[None]

[None]

In [73]:
[] # Lista vacia

[]

In [74]:
[False, ['auto', 30, 'gasolina'], 73.12] # Lista con una lista dentro

[False, ['auto', 30, 'gasolina'], 73.12]

### Indexado numérico.

Las listas cuentan con un indexado numérico con el que  identifican a cada elemento que contienen mediante un número entero de 2 formas:

* Índices positivos:  En los que el primer elemento del extremo izquierdo tiene el índice ```0```, el elemento a su derecha tiene el índice ```1``` y así sucesivamente en incrementos de uno  en uno hasta llegar al elemento del extremo derecho.
* Índices negativos: En los que el primer elemento del extremo derecho tiene el índice ``-1``, el elemento a su izquierda tiene el índice ```-2``` y así sucesivamente en decrementos de uno en uno hasta llegar al elemento del extremo izquierdo.

Para acceder a cada elemento mediante un índice se usa la siguiente sintaxis:

```
<lista>[<índice>]
```

Si se trata de acceder a un elemento con un índice que excede el tamaño de la lista, se obtendrá un error.

In [75]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

In [76]:
lista[0]

1

In [77]:
lista[-8]

1

In [78]:
lista[-4]

5

###  Indíces anidados.

En el caso de que un elemento seleccionado dentro de una colección indexables también sea una colección indexable, es posible realizar una indexación anidada colocando el índice a la derecha del índice superior.

```
<colección>[<indice 1>][<índice 2>]...[<índice n>]
```

In [80]:
lista = [[1, 2, 3, 4], False, ['cinco', 'seis', 'siete'], 8.]

In [82]:
lista[2]

['cinco', 'seis', 'siete']

In [83]:
lista[2][1]

'seis'

In [84]:
lista[2][1][-2]

'i'

### Modificación de un elemento en una lista.

Es posible modificar el contenido de un elemento en una lista mediante el operador de asignación ```=```.

In [85]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

In [86]:
lista[4] = "hola"

In [87]:
lista

[1, 2, 3, 4, 'hola', 6, 7, 8]

### Eliminación de un elemento en una lista.

Para eliminar un elemento en una lista se utiliza la declaración ````del````. 

El elemento identificado mediante su posición será eliminado y en caso de que existan, se recorrerá el índice de los elementos a la derecha del elemento eliminado. 

La sintaxis es la siguiente:

```
del <lista>[<posición>]
```

In [88]:
lista = [1, 2, 3, 4, 5]

In [89]:
del lista[1]

In [90]:
lista

[1, 3, 4, 5]

### "Slicing" de listas.

Es posible extraer una porción definida de elementos contenidos en una lista mediante el uso de rangos con la siguiente sintaxis.

```
<lista>[m:n]
```

En donde: 

* ```m``` es el índice inferior del rango.
* ```n``` es el índice superior del rango.

El resultado será un nuevo objeto de tipo ```list``` conteniendo los elementos que van del índice ```m``` a uno antes de ```n```.

In [91]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
lista[0:5]

[1, 2, 3, 4, 5]

In [93]:
lista[-3:-1]

[8, 9]

In [94]:
lista[0:3]

[1, 2, 3]

In [95]:
lista[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
lista[::2]

[1, 3, 5, 7, 9]

### Métodos de Listas.

Estos son algunos de los métodos en listas. Cabe hacer notar que estos métodos no crean un nuevo objeto, sino que afectan directamente al objeto al que pertenecen.

#### _append()_.

Añade al elemento que se ingresa como argumento al final del objeto tipo _list_.

#### _insert()_.
Añade en la posición correspondiente al número ingresado como primer argumento al elemento ingresado como segundo argumento, desplazando el resto de los elementos hacia la derecha.

#### _remove()_.

Elimina el primer elemento de izquierda a derecha que sea igual al objeto que se ingresa como argumento. Si el objeto no es encontrado, genera un _ValueError_.

#### _reverse()_ .
Invierte el orden del objeto tipo _list_.

#### _sort()_.
Ordena los elementos de la lista, en caso de que sea posible. Si no se especifica, se hace en orden ascendente; pero si se especifica el argumento _reverse=True_, puede hacerlo de forma descendente.

####  _pop()_.
Elimina el elemento contenido en el objeto tipo _list_ localizado en el índice que se ingresa como argumento y regresa su valor. Si no se indica la posición, se asume que el último elemento del objeto tipo _list_ es el indicado. En caso e que el objeto no contenga elementos, se generará un error de tipo _IndexError_.

####  _extend()_.
Añade al final del objeto cada uno de los elementos de un objeto iterable que es ingresado como argumento.

#### _count()_.
Cuenta el número de veces que aparece dentro del objeto tipo _list_ el objeto que se ingresa como argumento.

In [97]:
lista = [1, 2, 3, 4, 5, 6]
lista.append(57) # Agrega 57
lista

[1, 2, 3, 4, 5, 6, 57]

In [98]:
lista = [1, 2, 3, 4, 5, 6]
lista.insert(3, True) # Inserta True en el indice 3
lista

[1, 2, 3, True, 4, 5, 6]

In [99]:
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]
lista.remove(3) # Remueve la primer coincidencia
lista

[1, 2, 4, 5, 4, 3, 2, 1, 0]

In [100]:
lista = [1, 2, 3, 4, 5, 6]
lista.reverse() # Regresa una lista invertida
lista

[6, 5, 4, 3, 2, 1]

In [101]:
lista = [15, True, 33, False, 12.35 ]
lista.sort() # Ordena la lista
lista

[False, True, 12.35, 15, 33]

In [102]:
lista.sort(reverse=True) # Ordena la lista y los coloca de forma invertida
lista

[33, 15, 12.35, True, False]

In [103]:
lista = [15, True, 33, False, 12]
lista.pop() # Elimina el ultimo elemento de la lista

12

In [104]:
lista

[15, True, 33, False]

In [105]:
lista.pop(1) # Elimina el elemento del indice 1

True

In [106]:
lista

[15, 33, False]

In [110]:
lista = [15, True, 33, False, 12]
lista.extend([12, 4, 21]) # Extiende la lista
lista

[15, True, 33, False, 12, 12, 4, 21]

In [108]:
lista = [15, True, 33, False, 12]
lista.append([12, 4, 21]) # Agrega al último elemento una lista
lista

[15, True, 33, False, 12, [12, 4, 21]]

In [111]:
lista[-1]

21

## El tipo ```tuple```.

Las tuplas son colecciones ordenadas de objetos, los cuales son indexables numéricamente e inmutables.

Se definen encerrando entre paréntesis ```(``` ```)``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:
 
```
(<tipo 1>, <tipo 2>, ..., <tipo n>) 
```

**Ejemplos:**

In [112]:
1, 2, "tres", True, None

(1, 2, 'tres', True, None)

In [114]:
tupla = (False, ['auto', 30, 'gasolina'], 73.12) # Tupla con una lista adentro

In [118]:
tupla[0] = True

TypeError: 'tuple' object does not support item assignment

In [117]:
tupla

(False, ['auto', 30, 'diesel'], 73.12)

In [119]:
() # Tupla vacia

()

In [120]:
(None)

In [121]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8)
del tupla[3]

TypeError: 'tuple' object doesn't support item deletion

In [122]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8)
tupla[4] = "hola"

TypeError: 'tuple' object does not support item assignment

### Las Tuplas pueden ser rebanados.

El rebanado no implica una modificación interna de una *tuple*, sino la creación de un objeto nuevo y por lo tanto, este tipo de operaciones son permitidas.

In [123]:
tupla = (1, 2, 3, 4, 5, 6)
tupla[2:4]

(3, 4)

### Métodos de Tuplas.

Las tuplas sólo cuentan con los métodos: 
* _count()_. 
* _index()_.

In [124]:
tupla = (1, 5, 7, 8, 4, 7, 7, 9)

In [125]:
tupla.index(9)

7

In [126]:
tupla.count(7)

3

## Transformaciones entre tipo _list_ y tipo _tuple_.

Las listas y las tuplas pueden ser convertidos en objetos del otro tipo mediante las funciones _list()_ y _tuple()_.

In [129]:
tupla = (7, 8, 9)
tupla

(7, 8, 9)

In [128]:
lista = list(tupla)
lista

[7, 8, 9]

In [130]:
tuple(lista)

(7, 8, 9)

## El tipo ```dict```.

Los diccionarios son una colección mutable de pares *clave:valor* indexable mediante la clave de cada elemento.
     
Los pares están separados por comas ```,``` y delimitados por llaves ```{``` ```}```.

La sintaxis para definir un tipo ```dict``` es: 
 
```
{<clave 1>:<valor 1>, <clave 2>:<valor 2>, ... , <clave n>:<valor n>} 
```
 
* La clave, a la cual también se le referirá como identificador, debe de ser de algún tipo inmutable.
* El valor puede ser un caracter de cualquier tipo y puede repetirse dentro del objeto de tipo ```dict```.

In [131]:
{'nulo':None, True:'V', 2:[1, 2, 3], '2':False, ('x', 'y'): 15.3}

{'nulo': None, True: 'V', 2: [1, 2, 3], '2': False, ('x', 'y'): 15.3}

In [132]:
{'nombre':'Luis', 'apellido': 'Homobono', 'promedio':9.5}

{'nombre': 'Luis', 'apellido': 'Homobono', 'promedio': 9.5}

In [133]:
{} # Diccionario Vacio

{}

In [134]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5, 'nombre':'Laura'} # Diccionario con una clave repetida

{'nombre': 'Laura', 'apellido': 'Pérez', 'promedio': 7.5}

In [135]:
{'nombre':'Juan', 'apellido': 'Pérez', (True, 1):7.5} # Error por la clave

{'nombre': 'Juan', 'apellido': 'Pérez', (True, 1): 7.5}

## Acceso y modificación de los elementos de diccionario.

A diferencia de las listas y tuplas, los cuales usan índices numéricos, los diccionarios utilizan a los identificadores para acceder a los elementos que contienen.

La sintaxis para acceder a un elemento de un tipo _dict_ es la siguiente:

```
<dict>[<clave>]

```

In [136]:
persona = {"nombre": "Luis", "primer_apellido":"Homobono", "segundo_apellido":"Fuentes"}
persona["segundo_apellido"]

'Fuentes'

In [137]:
persona["correo"]

KeyError: 'correo'

### Modificación o adición de un elemento contenido en un diccionario.

Para modificar un elemento de un dicionario se utiliza el operador de asignación (_ =_ ).
```
<dict>[<identificador>] = <valor>
```

In [138]:
persona = {'nombre':"Luis", 'primer_apellido':'Homobono'}
persona

{'nombre': 'Luis', 'primer_apellido': 'Homobono'}

In [139]:
persona['nombre'] = "Eloy"
persona

{'nombre': 'Eloy', 'primer_apellido': 'Homobono'}

In [140]:
persona['segundo_apellido'] = "Fuentes"
persona

{'nombre': 'Eloy',
 'primer_apellido': 'Homobono',
 'segundo_apellido': 'Fuentes'}

### Eliminación de un elemento contenido en un objeto de tipo _dict_.

Para eliminar un elemento de un diccionario se utiliza la declaración _del_. 

```
del <dict>[<identificador>]
```

In [141]:
persona = {'nombre':"Luis", 'primer_apellido':'Homobono'}
del persona['nombre']
persona

{'primer_apellido': 'Homobono'}

### Metodos en Diccionarios

#### El método _copy()_.
Regresa un nuevo diccionario con los mismos elementos.

#### El método _get()_.
Regresa el valor que corresponde al identificador ingresado como primer argumento. En caso de no encontrar el identificador, regresa el valor que se indique como segundo argumento.

#### El método _update()_.
Sustituye y añade los elementos que se ingresan como argumento.

#### El método _items()_.
Regresa una colección iterable que genera una secuencia de valores de tipo _tuple_ con el indicador y el valor de cada elemento.

#### El método _keys()_.
Regresa una colección iterable que genera una secuencia que corresponde al identificador de cada elemento del diccionario.

#### El método _values()_.
Regresa una colección iterable que genera una secuencia que corresponde al valor de cada elemento del diccionario.

In [142]:
persona = {"nombre": "Luis", "primer_apellido":"Homobono", "segundo_apellido":"Fuentes"}
otra_persona = persona.copy()
otra_persona

{'nombre': 'Luis',
 'primer_apellido': 'Homobono',
 'segundo_apellido': 'Fuentes'}

In [143]:
persona = {"nombre": "Luis", "primer_apellido":"Homobono", "segundo_apellido":"Fuentes"}
persona.get("nombre")

'Luis'

In [144]:
persona.get("nombre1", 'No lo encontre')

'No lo encontre'

In [145]:
persona = {"nombre": "Luis", "primer_apellido":"Homobono", "segundo_apellido":"Fuentes"}
persona.update({"nombre":"Eloy", "codigo_postal":"020101"})
persona

{'nombre': 'Eloy',
 'primer_apellido': 'Homobono',
 'segundo_apellido': 'Fuentes',
 'codigo_postal': '020101'}

In [146]:
persona = {"nombre": "Luis", "primer_apellido":"Homobono", "segundo_apellido":"Fuentes"}
elementos = persona.items()
elementos

dict_items([('nombre', 'Luis'), ('primer_apellido', 'Homobono'), ('segundo_apellido', 'Fuentes')])

In [147]:
persona = {"nombre": "Luis", "primer_apellido":"Homobono", "segundo_apellido":"Fuentes"}
claves = persona.keys()
claves

dict_keys(['nombre', 'primer_apellido', 'segundo_apellido'])

In [148]:
persona = {"nombre": "Luis", "primer_apellido":"Homobono", "segundo_apellido":"Fuentes"}
valores = persona.values()
valores

dict_values(['Luis', 'Homobono', 'Fuentes'])

## La función ```len()```.
 
Esta función permite conocer el número de elementos (el tamaño) que contiene una colección.
 
```
len(<colección>)
```

**Ejemplos:**

In [149]:
len('Eloy')

4

In [150]:
len([1, 2, [3, 4 , 6], None])

4

In [151]:
len({})

0

In [152]:
persona = {'nombre':'Eloy', 'apellido': 'Homobono', 'promedio':9.5, 'gustos':'evolución'}

In [153]:
len(persona)

4

In [154]:
persona['nombre'] = 'Julia'
persona

{'nombre': 'Julia',
 'apellido': 'Homobono',
 'promedio': 9.5,
 'gustos': 'evolución'}

## Funciones relativas a tipos de datos.

### La función ```type()```.

La función ```type()``` regresa el tipo de dato o clase a la que pertenece un objeto el cual es ingresado como argumento con la siguiente sintaxis:
 
```
type(<objeto>)
```

**Ejemplos:**

In [155]:
type("Hola")

str

In [156]:
type(12)

int

In [157]:
type(12.)

float

In [158]:
type(23j)

complex

In [159]:
type(True)

bool

In [160]:
type([1, 2, 3])

list

In [161]:
type((1, 2, 3))

tuple

In [162]:
type({'uno': '1'})

dict

# Condicionales.

### *if* simple e indentación.

La palabra clave *if* siempre evalúa una expresión lógica y en caso de que dicha expresión de por resultado el valor *True*, se ejecutará el código indentado justo por debajo del *if*. En caso de que la declaración resulte en el valor *False*, el intérprete ignorará el bloque de código indentado y éste continuará con la instrucción siguiente inmediata a la indentación.

```
<flujo principal>
...
...
if <expresión lógica>:
     <bloque inscrito a if>
<flujo principal>
```
A continuación se muestra un diagrama de flujo que ejemplifica al uso del condicional *if* en su modo más simple:
![if simple](imagenes/if-simple.png)

In [165]:
animal = input("¿Qué animal es? ")
if animal == "gato":
    print("miau")
print ("Sólo los gatos maullan.")

¿Qué animal es? lobo
Sólo los gatos maullan.

### Estructura *if*...*else*.

Si el resultado de la expresión lógica evaluada por _if_ da por resultado _False_, se puede utilizar _else_ para ejecutar el bloque de código indentado debajo de esta expresión.


```
<flujo principal>
...
...
if <expresión lógica>:
     <bloque inscrito a if>
else:
    <bloque inscrito a else>
<flujo principal>
```
A continuación se muestra un diagrama de flujo que ejemplifica al uso del condicional _if_ y _else_:

![if-else](imagenes/if-else.png)

In [166]:
animal = input("¿Qué animal es? ")
print("Este animal es un " + animal)
if animal == "gato":
    print("miau")
else:
    print("No sé que ruido hace este animal.")
print("Sólo los gatos maullan.")

¿Qué animal es? lobo
Este animal es un lobo
No sé que ruido hace este animal.
Sólo los gatos maullan.

### Estructura *if*...*elif*...*else*.

Es posible evaluar más de una expresión lógica mediante el uso de _elif_. En el caso de que exista más de una expresión lógica que de por resultado _True_, Python ejecutará solamente el código delimitado por la primera que ocurra.

En caso de que ninguna de las condiciones de por resultado _True_ se puede utilizar _else_ al final de la estructura.

```
<flujo principal>
...
...
if <expresión lógica>:
     <bloque inscrito a if>
elif <expresión lógica 1>:
     <bloque inscrio a elif>
elif <expresión lógica 2>:
     <bloque inscrio a elif>
...
...
elif <expresión lógica n>:
     <bloque inscrio a elif>
else:
    <bloque inscrito a else>
<flujo principal>
```

A continuación se muestra un diagrama de flujo que ejemplifica al uso del condicional _if_, _elif_ y _else_:

![if-elif-else](imagenes/if-elif.png)

In [168]:
animal = input("¿Qué animal sugiere? ")
print("Este animal es %s." % animal)
if animal == "gato":
    print("miau")
elif animal == "perro":
    print("guau")
elif animal == "pez":
    print ("glub glub")
elif animal == "gallo":
    print("kikiriki")
elif animal == "vaca":
    print("muuu")
else:
    print("No sé que ruido hace este animal.")
print("Sólo los gatos maullan.")

¿Qué animal sugiere? vaca
Este animal es vaca.
muuu
Sólo los gatos maullan.

# Ciclos, iteraciones e interrupciones de ejecución.

## Ciclos con _while_.

Python cuenta con la palabra reservada *while* para ejecutar un bloque de código recursivamente mientras se cumpla una condición determinada. Cuando la expresión lógica evaluada por *while* sea *False* , el flujo de ejecución continuará sin ejecutar el bloque dentro de _while_.

```
<flujo principal>
...
...
while <expresión lógica>:
     <bloque inscrito a while>
<flujo principal>
```
A continuación se muestra un diagrama de flujo que ejemplifica al uso de *while*:
![while](imagenes/while.png)

In [169]:
entrada = ""
suma = 0
while suma < 3 and entrada != "despedida":
    entrada = input("Clave: ")
    suma += 1
    print("Intento %d. \n " % suma)
print("Utilizaste %d intentos." % suma)

Clave: Luis
Intento 1.

Clave: Eloy
Intento 2.

Clave: Luis
Intento 3.

Utilizaste 3 intentos.

In [170]:
while True:
    entrada = input("Clave:")
    if entrada == "despedida":
        break
    suma = suma + 1
    print("Intento %d. \n " % suma)
print("Tuviste %d intentos fallidos." % suma)

Clave:luis
Intento 4.

Clave:Luis
Intento 5.

Clave:Gato
Intento 6.

Clave:fato
Intento 7.

Clave:dato
Intento 8.

Clave:ls
Intento 9.

Clave:ag
Intento 10.

Clave:
Intento 11.

Clave:
Intento 12.

Clave:
Intento 13.

Clave:
Intento 14.

Clave:
Intento 15.

Clave:
Intento 16.

Clave:
Intento 17.

Clave:
Intento 18.

Clave:
Intento 19.

Clave:
Intento 20.

Clave:
Intento 21.

Clave:
Intento 22.

Clave:
Intento 23.

Clave:Despedia
Intento 24.

Clave:despedida
Tuviste 24 intentos fallidos.


## Iteraciones con _for_... _in_.


### Objetos iterables.

Una de las grandes fortalezas de Python es su capacidad de realizar iteraciones de forma dinámica a partir de diversos tipos de objetos con la capacidad de ser iterables.

Algunos de estos objetos son los de tipo:

* _str_.
* _list_.
* _tuple_.
* _dict_.

Las iteraciones para cada uno de los tipos enunciados se estudiarán y analizarán caso por caso en secciones próximas.

### La estructura *for* ... *in*.

Para iterar un objeto iterable se utiliza la siguiente sintaxis:

```
for <contador> in <objeto iterable>:
    ...
    ...
```

### Iteraciones incrementales/decrementales.

La forma más común de realizar iteraciones en otros lenguajes de programación es por medio algo similar al uso de la función *range().*

### La función *range()*

Para definir rangos numéricos se usa la función *range()*.

* *range(*n, m, s*)* cumple:  rango >= n and rango < m en incrementos de s.
* *range(*n, m*)* cumple:  rango >= n and rango < m en incrementos de 1.
* *range(*m*)* cumple:  rango >= 0 and rango < m en incrementos de 1.

In [171]:
for contador in range(8):
    print(contador)
print()

0
1
2
3
4
5
6
7

In [172]:
for contador in range(5, 9):
    print(contador)
print()

5
6
7
8

In [ ]:
for contador in range(26, 10, -4):
    print(contador)

In [ ]:
for item in ['uno', 'dos', 3]:
    print(item)

In [ ]:
for letra in "Hola":
    print(letra)

In [ ]:
for valor in (1,2,3,4,4):
    print(valor)

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; Biol. Luis Eloy Homobono Fuentes. 2019.</p>